<footer>
    <div class="footerContent">
      <p>&copy; <span id="year">2018</span> Kyle Batson</p>
      <p>Source code available on <a href="https://github.com/kbatson/kylebatson.com">GitHub</a></p>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25169627-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-25169627-1');
</script>
</body>