<footer>
	<nav>
		<ul>
			<li><a id="link-photography" href="http://www.kylebatsonphoto.com">Kyle Batson Photography</a></li>
			<li><a id="link-desirepath" href="http://www.desirepath.life">Desire Path</a></li>
			<li><a id="link-instagram" href="http://www.instagram.com/kylebatsonphoto">Instagram</a></li>
		</ul>
	</nav>
	<small id="copyright">
		<p>&copy; <span id="year"></span> Kyle Batson</p>
		<p id="github">The source code for this site is posted on <a href="https://github.com/kbatson/kylebatson.com">Github</a>.</p>
	</small>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25169627-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-25169627-1');
</script>
</body>