<footer>
	<nav>
		<ul>
			<li><a id="link-photography" href="http://www.kylebatsonphoto.com">Kyle Batson Photography</a></li>
			<li><a id="link-desirepath" href="http://www.desirepath.life">Desire Path</a></li>
			<li><a id="link-instagram" href="http://www.instagram.com/kylebatsonphoto">Instagram</a></li>
		</ul>
	</nav>
	<small id="copyright">
		<p>&copy; <span id="year"></span> Kyle Batson</p>
		<p id="github">The source code for this site is posted on <a href="https://github.com/kbatson/kylebatson.com">Github</a>.</p>
	</small>
</footer>
</body>