<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kyle Batson Portfolio{% if page.title %} | {{ page.title }}{% endif %}</title>
	{% if page.url == "/" %}<link rel="stylesheet" type="text/css" href="/assets/css/kb-home.css">
	{% else %}<link rel="stylesheet" type="text/css" href="/assets/css/kb-portfolio.css">
	{% endif %}
	
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/jquery.touchSwipe.min.js"></script>
	{% unless page.url == "/" %}<script src="/assets/js/slideshow.js"></script>
	<script src="/assets/js/modal.js"></script>{% endunless %}
	<link rel="stylesheet" href="https://use.typekit.net/ksl5tjl.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
</head>
<body>
<header>
	<h1><a href="/"><strong>Kyle Batson</strong> <span id="jobTitle">Designer</span></a></h1>
	<nav>
		<ul>
			{% if page.url == "/" %}<!-- <li><a href="#">Expertise</a></li> -->
			<li><a href="#examples"><span>Work</span></a></li>
			<li><a href="/assets/resume/kylebatson-resume-2018-10-03.pdf"><span>Resume</span></a></li>
			<li><a href="mailto:kyledbatson@gmail.com"><span>Contact</span></a></li>
			{% else %}
			{% if page.next %}<li id="prevItem"><a href="{{ page.next.url }}"><span>&#9666; Previous</span></a></li>{% endif %}
			<li id="home"><a href="/"><span>Home</span></a></li>
			{% if page.previous %}<li id="nextItem"><a href="{{ page.previous.url }}"><span>Next &#9656;</span></a></li>{% endif %}{% endif %}
		</ul>
	</nav>
</header>