$textColor: #000000;
$highlightColor: rgb(77, 157, 200);
$primaryGradientStart: rgb(115, 31, 55);
$primaryGradientEnd: rgb(130, 83, 140);
$secondaryGradientStart: rgb(149, 31, 55);
$secondaryGradientEnd: rgb(80, 95, 169);
$highlightGradientStart: rgb(77, 157, 200);
$highlightGradientEnd: rgb(67, 88, 166);

html {
    font-family: franklin-gothic-urw, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5em;
    width: 100%;
    overflow-x: hidden;
    color: #ffffff;
    background: linear-gradient(to bottom, $primaryGradientStart 0%, $primaryGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1, h2, h3 {
    margin: 0;
    font-size: 1rem;
    line-height: 1em;
    font-family: din-2014, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

body {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0px repeat(6, 1fr) 0px;
    grid-template-rows: 1rem repeat(auto-fill, 3rem);
    grid-gap: 1rem;
}

a {
    color: lighten($highlightColor, 10%);
    text-decoration: none;
}

header {
    grid-column: 2 / span 6;
    grid-row: 2 / span 3;

    display: grid;
    grid-template-columns: repeat(6, minmax(1rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(3rem, auto));
    grid-gap: 1rem;
}

header h1 {
    margin: 0;
    grid-column: 1 / span 3;
    grid-row: 1;
    position: relative;
    font-size: 3rem;
    line-height: 1em;
    z-index: 1;

    &:before {
        content: "";
        display: block;
        position: absolute;
        height: 100vw;
        width: 100vw;
        left: -1rem;
        top: -2rem;
        z-index: -2;
        clear: both;
        // background: rgb(240,249,255); /* Old browsers */
        // background: -moz-linear-gradient(top, rgb(240,249,255) 0%, rgb(161,219,255) 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(top, rgb(240,249,255) 0%,rgb(161,219,255) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $secondaryGradientStart 0%, $secondaryGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
        transform-origin: 100% 0;
        transform: skewX(135deg);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 500px;
        width: 500px;
        left: -332px;
        top: -7rem;
        z-index: -1;
        clear: both;
        background: linear-gradient(to bottom, $highlightGradientStart 0%, $highlightGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        transform-origin: 100% 0;
        transform: skewX(135deg);
    }

    a {
        display: block;
        background: url(/assets/images/kb-logo-color.svg) no-repeat;
        text-indent: -999rem;
    }
}

header nav {
    grid-column: 1 / span 5;
    grid-row: 2 / span 2;
    height: 3rem;
    z-index: 1;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        min-width: 3rem;
    }

    a {
        display: inline-block;
        transform-origin: 0 100%;
        transform: skewX(135deg);
        width: 100%;
        position: relative;

        font-family: din-2014, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        text-align: center;
        font-size: .8rem;
        white-space: nowrap;
        
        border-right: 1px solid $highlightColor;
        color: #ffffff;

        span {
            display: inline-block;
            transform-origin: 0 100%;
            transform: skewX(45deg);
            padding: 0 0 0 1rem;
        }

        &:after {
            content: "";
            display: block;
            height: 100%;
            width: 0px;
            background: linear-gradient(35deg, rgba(115, 31, 55, 0) 0%, rgba(115, 31, 55, 0) 30%, $highlightGradientEnd 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            transition: .2s width ease-in;
        }

        &:hover {
            color: #ffffff;
        }
    }

    li:first-child a span {
        padding: 0;
    }
}

main {
    grid-column: 2 / span 6;
    grid-row: 5;
    position: relative;
    z-index: 1;
}

footer {
    grid-column: 2 / span 6;
    grid-row: span 1 / 7;
    text-align: right;
    font-size: .8em;
    position: relative;
    color: #ffffff;
    margin-top: 4rem;
    padding-bottom: 3rem;
    z-index: 1;
    
    a {
        color: $highlightColor;
    }

    &:after {
        content: "";
        display: none;
        position: absolute;
        height: 75vw;
        width: 75vw;
        max-width: 35rem; //Otherwise will overlap content
        max-height: 35rem;
        bottom: 0;
        z-index: -1;
        clear: both;
        background: linear-gradient(to bottom, $primaryGradientStart 0%, $primaryGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // background: linear-gradient(to bottom, $highlightGradientStart 0%, $highlightGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
        transform-origin: 100% 100%;
        transform: skewX(135deg);
        right: -100vw;
    }
}

footer p {
    margin: 0;
}

@supports (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)){
    header h1:before {
        transform: unset;
        -webkit-clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
        clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
    }

    header h1:after {
        transform: unset;
        -webkit-clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
        clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
    }

    footer:after {
        right: -1rem;
        transform: unset;
        -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
    }
}

@media only screen and (min-width: 600px) {
    body {
        grid-template-columns: minmax(5vw, auto) repeat(6, minmax(1rem, 8rem)) minmax(5vw, auto);
    }

    header {
        grid-row: 1 / span 4;
        grid-column: 2 / span 6;

        grid-template-columns: repeat(6, minmax(1rem, 8rem));
        grid-template-rows: 1rem repeat(3, 3rem);
    }

    header nav {
        grid-row: 1 / span 3;
        grid-column: span 3 / 7;
        height: 100%;
        width: 120%;
        margin-left: -20%;
        z-index: 0;

        ul {
            height: inherit;
            display: flex;
            justify-content: space-evenly;
        }

        li {
            height: inherit;
            width: 50%;

            &:first-child {
                width: 60%;
            }
        }

        a {
            height: inherit;
            color: #ffffff;
            line-height: 17rem;
            background: linear-gradient(35deg, rgba(115, 31, 55, 0) 0%, rgba(115, 31, 55, 0) 30%, #951f37 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            border-right: none;
            text-align: right;

            span {
                height: inherit;
            }

            &:hover:after {
                width: 100%;
            }
        }

        li#prevItem a span:before {
            content: "\25C2";
            font-size: 1.1rem;
        }

        li#nextItem a span:after {
            content: "\25B8";
        }
    }

    header h1 {
        grid-row: 3;

        &:before {
            top: -7rem;
            left: auto;
            right: -13vw;
        }
    }

    main {
        grid-column: 2 / span 6;
    }

    body.fixedHeader {
        grid-template-rows: 4rem repeat(auto-fill, 3rem);

        header {
            grid-template-rows: 4rem;
            grid-template-columns: minmax(5vw, auto) repeat(6, minmax(1rem, 8rem)) minmax(5vw, auto);
            // background: linear-gradient(to bottom, $primaryGradientStart 0%, $primaryGradientStart 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background: #ffffff;
            height: 4rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            overflow: hidden;
            z-index: 2;
            box-shadow: 0px 4px 20px darken($primaryGradientEnd, 20%);

            h1 {
                grid-row: 1;
                grid-column: 2 / span 3;
                transition: all .4s linear;
                margin-left: 0;
                margin-top: .5rem;

                a {
                    background-image: url(/assets/images/kb-logo-color-dark.svg);
                }

                &:before {
                    display: none;
                }
            }

            nav {
                grid-row: 1;
                grid-column: span 3 / 8;
                margin-left: 0;
                width: 100%;
                margin-left: 0;

                a {
                    color: $secondaryGradientStart;
                    background: #ffffff;
                    line-height: 6rem;

                    &:after {
                        width: 2px;
                        background: $primaryGradientStart;
                    }

                    &:hover {
                        color: #ffffff;

                        &:after {
                            width: 100%;
                            background: $secondaryGradientStart;
                        }
                    }
                }
            }
        }

        main {
            grid-row: 3;
        }
    }

    footer {
        grid-column: 2 / span 6;

        &:after {
            right: -25vw;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 830px) {
    header nav {
        width: 130%;
        margin-left: -35%;
    }
}

// @media only screen and (min-width: 700px) and (max-width: 830px) {
//     header {

//         nav ul li:first-child {
//             width: 40%;
//             margin-left: -9%;
//         }
//     }
// }

// @media only screen and (min-width: 600px) and (max-width: 700px) {
//     header {

//         nav ul li:first-child {
//             width: 50%;
//             margin-left: -19%;
//         }
//     }
// }