$textColor: #000000;
$highlightColor: rgb(231, 126, 7);

* {
    // outline: 1px dotted gray;
}

html {
    font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.2em;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin: 0;
    font-size: 1rem;
    line-height: 1em;
}

body {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0px repeat(6, 1fr) 0px;
    grid-template-rows: 1rem repeat(auto-fill, 3rem);
    grid-gap: 1rem;
    overflow: hidden;
}

a {
    color: $highlightColor;
    text-decoration: none;
}

header {
    grid-column: 2 / span 6;
    grid-row: 2 / span 3;

    display: grid;
    grid-template-columns: repeat(6, minmax(1rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(3rem, auto));
    grid-gap: 1rem;
}

header h1 {
    margin: 0;
    grid-column: 1 / span 6;
    grid-row: 1;
    position: relative;
    font-size: 3rem;
    line-height: 1em;

    &:before {
        content: "";
        display: block;
        transform: rotate(180deg);
        position: absolute;
        height: 100vw;
        width: 100vw;
        left: -1rem;
        top: -2rem;
        z-index: -2;
        clear: both;
        //https://css-tricks.com/using-svg/
        // Solid
        background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48dGl0bGU+YmFja2dyb3VuZC10cmlhbmdsZTwvdGl0bGU+PHBvbHlnb24gcG9pbnRzPSI2OTEuMDUgMCA2OTEuMDUgNjkxLjA1IDAgNjkxLjA1IDY5MS4wNSAwIi8+PC9zdmc+");
        // Grey
        // background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6Z3JheTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmJhY2tncm91bmQtdHJpYW5nbGUtZ3JleTwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjY5MS4wNSAwIDY5MS4wNSA2OTEuMDUgMCA2OTEuMDUgNjkxLjA1IDAiLz48L3N2Zz4=");
        // Outline
        // background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48dGl0bGU+YmFja2dyb3VuZC10cmlhbmdsZS1vdXRsaW5lPC90aXRsZT48cGF0aCBkPSJNNjkxLjA1LDBWNjkxLjA1SDBMNjkxLjA1LDBtLjI1LS42LS40My40MkwtLjE4LDY5MC44N2wtLjQyLjQzSDY5MS4zVi0uNloiLz48L3N2Zz4=");
    }

    &:after {
        content: "";
        display: block;
        transform: rotate(180deg);
        position: absolute;
        height: 500px;
        width: 500px;
        left: -350px;
        top: -7rem;
        z-index: -1;
        clear: both;
        background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6Z3JheTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmJhY2tncm91bmQtdHJpYW5nbGUtZ3JleTwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjY5MS4wNSAwIDY5MS4wNSA2OTEuMDUgMCA2OTEuMDUgNjkxLjA1IDAiLz48L3N2Zz4=");
        filter: brightness(0.9) sepia(1) hue-rotate(-8deg) saturate(4.5);
    }

    a {
        display: block;
        background: url(/assets/images/kb-logo-white.svg) no-repeat;
        text-indent: -999rem;
    }
}

header nav {
    grid-column: 1 / span 5;
    grid-row: 2 / span 2;
    height: 3rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        min-width: 3rem;
    }

    a {
        display: inline-block;
        transform-origin: 0 100%;
        transform: skewX(135deg);
        width: 100%;
        position: relative;

        font-family: "ltc-bodoni-175", "Times New Roman", serif;
        font-weight: 100;
        font-style: italic;
        text-align: center;
        
        border-right: 1px solid $highlightColor;
        color: #ffffff;

        span {
            display: inline-block;
            transform-origin: 0 100%;
            transform: skewX(45deg);
            padding: 0 0 0 1rem;
        }

        &:before {
            content: "";
            display: block;
            height: 100%;
            width: 0px;
            background: $highlightColor;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            transition: .2s width ease-in;
        }

        &:hover {
            color: #ffffff;
        }
    }

    li:first-child a span {
        padding: 0;
    }
}

main {
    grid-column: 2 / span 6;
    grid-row: 5;
}

footer {
    grid-column: 2 / span 6;
    grid-row: span 1 / 7;
    text-align: right;
    font-size: .8em;
    position: relative;
    color: #ffffff;
    margin-top: 4rem;
    padding-bottom: 3rem;
    
    a {
        color: $highlightColor;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 75vw;
        width: 75vw;
        right: -1rem;
        bottom: 0;
        z-index: -2;
        clear: both;
        //https://css-tricks.com/using-svg/
        // Solid
        background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48dGl0bGU+YmFja2dyb3VuZC10cmlhbmdsZTwvdGl0bGU+PHBvbHlnb24gcG9pbnRzPSI2OTEuMDUgMCA2OTEuMDUgNjkxLjA1IDAgNjkxLjA1IDY5MS4wNSAwIi8+PC9zdmc+");
        // Grey
        // background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6Z3JheTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmJhY2tncm91bmQtdHJpYW5nbGUtZ3JleTwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjY5MS4wNSAwIDY5MS4wNSA2OTEuMDUgMCA2OTEuMDUgNjkxLjA1IDAiLz48L3N2Zz4=");
        // Outline
        // background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48dGl0bGU+YmFja2dyb3VuZC10cmlhbmdsZS1vdXRsaW5lPC90aXRsZT48cGF0aCBkPSJNNjkxLjA1LDBWNjkxLjA1SDBMNjkxLjA1LDBtLjI1LS42LS40My40MkwtLjE4LDY5MC44N2wtLjQyLjQzSDY5MS4zVi0uNloiLz48L3N2Zz4=");
    }
}

footer p {
    margin: 0;
}

@media only screen and (min-width: 600px) {
    body {
        grid-template-columns: minmax(5vw, auto) repeat(6, minmax(1rem, 8rem)) minmax(5vw, auto);
    }

    header {
        grid-row: 1 / span 4;
        grid-column: 2 / span 6;

        grid-template-columns: repeat(6, minmax(1rem, 8rem));
        grid-template-rows: 1rem repeat(3, 3rem);
    }

    header nav {
        grid-row: 1 / span 3;
        grid-column: span 3 / 7;
        height: 100%;

        ul {
            height: inherit;
            display: flex;
            justify-content: space-evenly;
        }

        li {
            height: inherit;
            width: 30%;
        }

        a {
            height: inherit;
            color: #000000;
            line-height: 17rem;

            span {
                height: inherit;
            }

            &:hover:before {
                width: 100%;
            }

            &:hover:after {
                border-top-color: #ffffff;
                border-left-color: #ffffff;
            }
        }
    }

    header h1 {
        grid-row: 3;

        &:before {
            top: -7rem;
            left: auto;
            right: 30vw;
        }
    }

    main {
        grid-column: 2 / span 6;
    }

    body.fixedHeader {
        grid-template-rows: 4rem repeat(auto-fill, 3rem);

        header {
            grid-template-rows: 4rem;
            grid-template-columns: minmax(5vw, auto) repeat(6, minmax(1rem, 8rem)) minmax(5vw, auto);
            background-color: rgba(0,0,0, .9);
            height: 4rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            overflow: hidden;
            z-index: 2;
            transition: all .4s linear;

            h1 {
                grid-row: 1;
                grid-column: 2 / span 3;
                transition: all .4s linear;
                margin-left: 0;
                margin-top: .5rem;
            }

            nav {
                grid-row: 1;
                grid-column: span 3 / 8;
                margin-left: 0;

                a {
                    color: #ffffff;
                    line-height: 6rem;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        main {
            grid-row: 3;
        }
    }

    footer {
        grid-column: 2 / span 6;

        &:after {
            right: -25vw;
        }
    }
}