$textColor: #000000;
$highlightColor: rgb(255,82,71);

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1rem;
}

html {
    width: 100vw;
    height: auto;
}

body {
/*  font-family: museo-sans, Helvetica, Arial, sans-serif; */
    font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
/*  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif; */
    line-height: 1.5em;
    font-weight: 300;
    position: relative;
}

html.baseline {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, rgba(255,255,255,0))) 0 1px;
/*
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
*/
  background: linear-gradient(top, #d9eaf3 0%, rgba(255,255,255,0) 8%) 0 1px;
/*
  -webkit-background-size: 100% 15px;
  -moz-background-size: 100% 15px;
  -ms-background-size: 100% 15px;
  -o-background-size: 100% 15px;
*/
  background-size: 100% 1rem;
}

html.baseline body {
  
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#d9eaf3), color-stop(2%, rgba(255,255,255,0)), color-stop(98%, rgba(255,255,255,0)), color-stop(100%, #d9eaf3)) 0 1px;
    /*
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    */
    // background: linear-gradient(to right, #d9eaf3 0%, rgba(255,255,255,0) 8%) 0 1px;
    /*
    -webkit-background-size: 100% 15px;
    -moz-background-size: 100% 15px;
    -ms-background-size: 100% 15px;
    -o-background-size: 100% 15px;
    */
  background-size: 6.65vw 100%;
}

a {
    color: $highlightColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 7rem;
    width: 80vw;
    margin: auto;
    position: relative;
}

header h1 {
    background-image: url(/assets/images/kb-logo-white.svg);
    background-size: 201px 52px;
    background-repeat: no-repeat;
    width: 200px;
    height: 52px;
    margin: 0;
}

header h1 a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-indent: -999rem;
}

header:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: -400px;
    background: #000000;
    transform: skewY(135deg);
    height: 500px;
    width: 1000px;
}

header:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: -750px;
    background: $highlightColor;
    transform: skewY(135deg);
    height: 500px;
    width: 1000px;
}

nav {
    width: 40vw;
    font-family: "ltc-bodoni-175", "Times New Roman", serif;
    font-style: italic;
    font-weight: 100;
}

nav ul {
    display: flex;
    list-style: none;
    height: 7rem;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    height: 7rem;
    width: 7rem;
}

nav ul li a {
    height: 7rem;
    line-height: 13rem;
    text-align: right;
    display: block;
    text-decoration: none;
    color: #000000;
    padding-bottom: .2rem;
}

nav ul li a:before {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 0;
    right: -.5rem;
    height: 100%;
    width: 1px;
    transform-origin: 0 100%;
    transform: skewX(-45deg);
    background: $highlightColor;
    // border-top: .5rem solid transparent;
    // border-left: .5rem solid transparent;
    // border-right: .5rem solid $highlightColor;
    // border-bottom: .5rem solid $highlightColor;
    transition: .2s all ease-in;
    z-index: -1;
}

nav ul li a:after {
    // display: block;
    // position: absolute;
    // content: "";
    // height: 7rem;
    // bottom: 0;
    // right: -4rem;
    // border-right: 1px solid #000000;
    // transform: skewX(-45deg);
}

nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover:before {
    //border-color: $highlightColor;
    width: 100%;
}

main {
    position: relative;
    width: 80vw;
    margin: auto;
}

figure {
    margin: 0;
}