---
---

@import "kb-global";

#intro {
    background: #ffffff;
    padding: 1rem;
    position: relative;
    margin-bottom: 7rem;

    h1 {
        font-size: 2rem;

        span {
            display: block;
        }
    }
}

#featuredLink {
    display: block;
    background: #000000;
    color: #ffffff;
    height: 3rem;
    line-height: 3rem;
    font-family: "ltc-bodoni-175", "Times New Roman", serif;
    font-weight: 100;
    font-style: italic;
    transform-origin: 0 100%;
    transform: skewX(135deg);
    position: relative;
    width: calc(100% - 3rem);
    text-align: right;
    padding-right: 3rem;
    box-sizing: border-box;

    span {
        display: inline-block;
        transform-origin: 0 0;
        transform: skewX(45deg);
    }

    &:before {
        content: "";
        display: block;
        transform: skewX(45deg);
        height: 0px;
        width: 0px;
        position: absolute;
        top: 0;
        left: -1.5rem;
        border-top: 1.5rem solid $highlightColor;
        border-left: 1.5rem solid $highlightColor;
        border-right: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
    }

    &:after {
        content: "";
        display: block;
        background: $highlightColor;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: .2s width ease-in;
    }

    &:hover:after {
        width: 100%;
    }
}

#examples {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(3rem, auto));
    background: #ffffff;
}

#examples h2 {
    text-align: right;
    font-family: "ltc-bodoni-175", "Times New Roman", serif;
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    padding-right: 1rem;
    position: relative;
    margin-bottom: 3rem;
    clear: both;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        bottom: -1rem;
        border-bottom: 2px solid $highlightColor;
        height: 0px;
    }
}

.portfolioItem {
    display: grid;
    grid-template-rows: 12rem 4rem;
    color: $textColor;
    text-decoration: none;
    cursor: pointer;

    padding: 1rem;
    margin: -1rem;
    background: #ffffff;
    position: relative;
    border-bottom: 2px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: $highlightColor;
        z-index: 1;
        animation: portfolioHighlight.3s ease-in;
        animation-fill-mode: forwards;
        -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
    }

    figure {
        grid-row: 1;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    h3 {
        grid-row: 2;
        font-weight: 100;
        padding-top: 1rem;
    }

    img {
        max-width: 100%;
        width: 100%;
    }
}


@keyframes portfolioHighlight {
  0% {
    top: 0;
    background: #ffffff;
  }
  50% {
    top: -.5rem;
    // background: $highlightColor;
  }
  100% {
    top: -1rem;
    background: #ffffff;
  }
}

@media only screen and (min-width: 600px){
    #intro {
        display: grid;
        grid-template-areas:
            "headline headline headline intro intro intro"
            ". . . resume resume resume";
        grid-template-columns: repeat(6, minmax(1rem, 8rem));
        grid-gap: 1rem;

        &:after {
            content: "";
            display: block;
            height: 100rem;
            width: 100rem;
            position: absolute;
            bottom: -80rem;
            right: -15rem;
            pointer-events: none;
            // Outline
            background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfNSIgZGF0YS1uYW1lPSJMYXllciA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OTEuMDUgNjkxLjA1Ij48dGl0bGU+YmFja2dyb3VuZC10cmlhbmdsZS1vdXRsaW5lPC90aXRsZT48cGF0aCBkPSJNNjkxLjA1LDBWNjkxLjA1SDBMNjkxLjA1LDBtLjI1LS42LS40My40MkwtLjE4LDY5MC44N2wtLjQyLjQzSDY5MS4zVi0uNloiLz48L3N2Zz4=");
        }
    }

    #intro h1 {
        grid-area: headline;
        font-size: 5.5vw;
    }

    .introContent {
        grid-area: intro;
    }

    #featuredLink {
        grid-area: resume;
    }

    #examples {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-gap: 1rem;
        position: relative;
        z-index: 1;
    }

    #examples h2 {
        grid-row: 1;
        grid-column: 1 / -1;
        width: calc(50% - .5rem);
        padding-right: 0;
        justify-self: end;
    }
}

@media only screen and (min-width: 1000px){
    #intro h1 {
        font-size: 3rem;
    }
}