---
---
@import "kb-global";

#intro {
    color: #ffffff;
    padding: 0 1rem 1rem 0;
    position: relative;
    margin-bottom: 7rem;

    h1 {
        font-size: 1.8rem;
        line-height: 2em;

        span {
            display: inline;
            white-space: nowrap;
            
            background: #ffffff;
            color: $primaryGradientStart;
            margin-bottom: .5rem;
            padding: .2rem .5rem;

            &:last-child {
                color: $highlightGradientEnd;
            }
        }
    }

    p strong {
        font-family: din-2014, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }

    p:first-child {
        margin-top: 0;
    }
}

#featuredLink {
    display: block;
    background: #000000;
    color: #ffffff;
    height: 3rem;
    line-height: 3rem;
    font-family: din-2014, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    transform-origin: 0 100%;
    transform: skewX(135deg);
    position: relative;
    width: calc(100% - 3rem);
    text-align: right;
    padding-right: 3rem;
    box-sizing: border-box;
    background: linear-gradient(to right, $highlightGradientStart 0%, $highlightGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    span {
        display: inline-block;
        transform-origin: 0 0;
        transform: skewX(45deg);
    }

    &:before {
        content: "";
        display: block;
        transform: skewX(45deg);
        height: 0px;
        width: 0px;
        position: absolute;
        top: 0;
        left: -1.5rem;
        border-top: 1.5rem solid #ffffff;
        border-left: 1.5rem solid #ffffff;
        border-right: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
    }

    &:after {
        content: "";
        display: block;
        background: $highlightColor;
        width: 0px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: .2s width ease-in;
    }

    &:hover:after {
        width: 100%;
    }
}

#caseStudies {
  position: relative;
  
  h2 {
    line-height: 2em;
    position: relative;
    
    &:after {
      content: "";
      display: block;
      width: 30%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $highlightColor;
    }
  }
}

@media only screen and (min-width: 600px){
    #intro {
        display: grid;
        grid-template-areas:
            "headline headline . intro intro intro"
            ". . . resume resume resume";
        grid-template-columns: repeat(6, minmax(1rem, 8rem));
        grid-gap: 1rem;
    }

    #intro h1 {
        grid-area: headline;
        font-size: 3.5vw;
    }

    .introContent {
        grid-area: intro;
    }

    #featuredLink {
        grid-area: resume;
    }
    
    main.work {
      grid-column: 2 / span 6;
    }

    #examples {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-gap: 1rem;
        position: relative;
        z-index: 2;
    }

    #examples h2 {
        grid-row: 1;
        grid-column: 1 / -1;
        width: calc(50% - .5rem);
        padding-right: 0;
        justify-self: end;
    }

    @supports (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)){
        #intro:after {
            content: "";
            display: block;
            height: 150rem;
            width: 150rem;
            position: absolute;
            bottom: -110rem;
            right: -35rem;
            pointer-events: none;
            background: linear-gradient(to bottom, $primaryGradientStart 0%, $primaryGradientEnd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
            -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
        }
    }
}

@media only screen and (min-width: 1000px){
    #intro h1 {
        font-size: 2.7rem;
    }
}