---
---

@import "kb-global";

#intro {
    background: #ffffff;
    padding: 1rem;

    h1 {
        font-size: 2rem;

        span {
            display: block;
        }
    }
}

#resume {
    display: block;
    background: #000000;
    color: #ffffff;
    height: 3rem;
    line-height: 3rem;
    transform-origin: 0 100%;
    transform: skewX(135deg);
    position: relative;
    width: calc(100% - 3rem);
    text-align: right;
    padding-right: 3rem;
    box-sizing: border-box;

    span {
        display: inline-block;
        transform-origin: 0 0;
        transform: skewX(45deg);
    }

    &:before {
        content: "";
        display: block;
        transform: skewX(45deg);
        height: 0px;
        width: 0px;
        position: absolute;
        top: 0;
        left: -1.5rem;
        border-top: 1.5rem solid $highlightColor;
        border-left: 1.5rem solid $highlightColor;
        border-right: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
    }

    &:after {
        content: "";
        display: block;
        background: $highlightColor;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: .2s width ease-in;
    }

    &:hover:after {
        width: 100%;
    }
}

.portfolioItem img {
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    #intro {
        display: grid;
        grid-template-areas:
            "headline headline . intro intro intro"
            ". . . resume resume resume";
        grid-template-columns: repeat(6, minmax(1rem, 8rem));
        grid-gap: 1rem;
    }

    #intro h1 {
        grid-area: headline;
        font-size: 5.5vw;
    }

    .introContent {
        grid-area: intro;
    }

    #resume {
        grid-area: resume;
    }
}    