---
---

@import "kb-global";
@import "slideshow.css";

body {
    overflow: auto;
    margin-bottom: 6rem;
}

header:before {
    background: transparent;
    border: 1px solid #000000;
}

header:after {
    top: -200px;
    left: -726px;
}

header {
    height: 5rem;
}

header h1 {
    background-image: url(/assets/images/kb-logo-black.svg);
    background-size: 150px 37px;
    width: 150px;
    height: 37px;
}

main {
    margin-top: 6rem;
    background: #ffffff;
    height: auto;
    overflow: hidden;
}

#back {
    grid-area: back;
}

main.portfolio h1 {
    font-family: "ltc-bodoni-175", "Times New Roman", serif;
    font-style: italic;
    margin: 0;
    line-height: 1.2em;
}

main article {
    border: 1rem solid #ffffff;
    margin: -1rem;
}

.slideshow {
    width: 70%;
    float: right;
    max-height: unset;
    margin: 1rem 0 1rem 1rem;
}

.slideshowWrapper {
    width: 100%;
}

.slideControl:before {
    background: $highlightColor;
}