---
---

@import "kb-global";
@import "slideshow";
@import "modal";

main {
    display: grid;
    grid-template-areas:
      "article"
      "work";
    grid-gap: 1rem;
}

footer {
    &:after {
        display: block;
    }
}

article {
    grid-area: article;
}

#examples {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(3rem, auto));
}

.work h1 {
    text-align: right;
    font-size: 2rem;
    padding-right: 1rem;
    position: relative;
    margin-bottom: 3rem;
    clear: both;
    color: #ffffff;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        bottom: -1rem;
        border-bottom: 2px solid $highlightColor;
        height: 0px;
    }
}

.portfolioItem {
    opacity: 0;

    display: grid;
    grid-template-rows: 10rem 6rem;
    color: $textColor;
    text-decoration: none;
    cursor: pointer;

    padding: 0rem 1rem;
    margin-bottom: 2rem;
    background: #ffffff;
    position: relative;
    border-bottom: 2px solid transparent;

    &:hover {
        text-decoration: none;
        border-color: $highlightColor;
        z-index: 1;
        
        -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
        
        transform: translateY(-1rem);
    }

    &:before {
        content: "";
        display: block;
        height: 1rem;
        width: 100%;
        background: #ffffff;
        -webkit-clip-path: polygon(1rem 0%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(1rem 0%, 100% 0%, 100% 100%, 0% 100%);

        position: absolute;
        top: -1rem;
        left: 0;
    }

    figure {
        grid-row: 1;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    h3 {
        grid-row: 2;
        font-weight: 100;
        padding-top: 1rem;
        letter-spacing: 0;
    }

    img {
        max-width: 100%;
        width: 100%;
    }
}

.portfolioItem.animate-in {
    animation: animate-in 0.8s ease forwards;
}

.portfolioitem.animate-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}

.portfolioItem.hover-in {
    animation: animate-hover-in 0.3s ease-out forwards;
}

.portfolioItem.hover-out {
  animation: animate-hover-out 0.3s ease-in forwards;
}

@keyframes animate-in {
    to { transform: translateY(0) scale(1); opacity: 1;}
}


@keyframes animate-hover-in {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-.5rem) scale(1.02); opacity: 1;}
}

@keyframes animate-hover-out {
  0% { transform: translateY(-.5rem) scale(1.02); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 1;}
}


@keyframes portfolioHighlight {
  0% {
    transform: translateY(0) scale(1); opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1.1); opacity: 1;
  }
}

#skills {
    grid-area: skills;
    margin-bottom: 4rem;
    margin-top: 4rem;
    width: 50%;
}

#skills h2 {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    margin-top: 0;
    &:after {
        content: "";
        display: inline-block;
        height: 2rem;
        width: 0;
        vertical-align: middle;
        // position: absolute;
        // top: -.5rem;
        // right: 0;
        border-right: 1px solid $highlightColor;
        transform-origin: 0 100%;
        transform: skewX(135deg);
    }
}

#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .8em;

    grid-area: skills;
}

@media only screen and (min-width: 600px){

    main {
        height: auto;

        display: grid;
        grid-template-areas:
            ". . article article"
            "work work work work";
        grid-template-columns: repeat(4, calc(25% - .5rem));
        grid-template-rows: minmax(3rem, auto) auto auto;
        align-content: start;
        align-items: start;
        grid-gap: 1rem;
        padding: 0 1rem;
        position: relative;
    }

    main article {
        margin: 0 0 4rem 0;

        grid-area: article;
    }
    
    #examples {
        grid-area: work;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-gap: 1rem;
        position: relative;
        z-index: 2;
    }

    #examples h2 {
        grid-row: 1;
        grid-column: 1 / -1;
        padding-right: 0;
        justify-self: end;
    }

    .slideshow {
        width: 100%;
        margin: 0;
    }

    .slideshowWrapper {
        width: 100%;
    }

    figure.slide {
        margin: -1rem;
        padding: 1rem;

        img {
            width: calc(100% - 2rem);
        }
    }

    #enlarge {
        grid-area: slideshow;
        position: absolute;
        top: -1rem;
        right: 0;
    }

    #skills {
        width: auto;
    }

    #overlay .slideshow {
        width: 90vw;
        margin: 0;
        height: 90vh;
        align-self: start;
    }

    #overlay .slideshow {
        .slideshowWrapper {
            height: calc(100% - 3rem);
        }

        figure.slide {
            img {
                width: auto;
            }

            figcaption {
                color: #000000;
                text-align: center;
            }
        }
    }

    #overlay #closeModal {
        padding: 0 2rem 0 .5rem;
        width: auto;
        border-radius: 0;

        span {
            margin: 0;
        }

        &:before {
            left: auto;
            right: .5rem;
        }
    }
}