---
---

$highlightColor: rgb(255,82,71);

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1rem;
}

html {
	width: 100vw;
	height: auto;
	overflow-x: hidden;
}

body {
/* 	font-family: museo-sans, Helvetica, Arial, sans-serif; */
	font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
/* 	font-family: "freight-sans-pro", Helvetica, Arial, sans-serif; */
	line-height: 1.5em;
	font-weight: 300;
	position: relative;
	width: 80vw;
	margin: auto;
	position: relative;
}

html.baseline {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, rgba(255,255,255,0))) 0 1px;
/*
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
*/
  background: linear-gradient(top, #d9eaf3 0%, rgba(255,255,255,0) 8%) 0 1px;
/*
  -webkit-background-size: 100% 15px;
  -moz-background-size: 100% 15px;
  -ms-background-size: 100% 15px;
  -o-background-size: 100% 15px;
*/
  background-size: 100% 1rem;
}

html.baseline body {
  
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#d9eaf3), color-stop(2%, rgba(255,255,255,0)), color-stop(98%, rgba(255,255,255,0)), color-stop(100%, #d9eaf3)) 0 1px;
    /*
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 1px;
    */
    // background: linear-gradient(to right, #d9eaf3 0%, rgba(255,255,255,0) 8%) 0 1px;
    /*
    -webkit-background-size: 100% 15px;
    -moz-background-size: 100% 15px;
    -ms-background-size: 100% 15px;
    -o-background-size: 100% 15px;
    */
  background-size: 6.65vw 100%;
}

body:before {
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: -400px;
    background: #000000;
    transform: skewY(135deg);
    height: 500px;
    width: 1000px;
}

body:after {
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -150px;
    left: -750px;
    background: $highlightColor;
    transform: skewY(135deg);
    height: 500px;
    width: 1000px;
}

.stripes {
	    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50vh;
    display: grid;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
	    top: 0;
    grid: repeat(5,200px)/repeat(10,1fr);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(#507eb1),color-stop(10%,#709dc7),color-stop(38%,#dde9f5),color-stop(48%,#eaf2f9),color-stop(62%,#f6f9fc));
    background: linear-gradient(#507eb1,#709dc7 10%,#dde9f5 38%,#eaf2f9 48%,#f6f9fc 62%);
}

.stripes :first-child {
    grid-column: span 3;
    background: -webkit-gradient(linear,left top,right top,from(rgba(243,251,255,.4)),color-stop(20%,rgba(243,251,255,.15)),to(rgba(243,251,255,0)));
    background: linear-gradient(100grad,rgba(243,251,255,.4),rgba(243,251,255,.15) 20%,rgba(243,251,255,0));
}

   .stripes :nth-child(2) {
   	    grid-area: 3/span 3/auto/-1;
    background: -webkit-gradient(linear,left top,right top,from(rgba(0,119,204,0)),color-stop(40%,rgba(0,119,204,.05)),to(rgba(0,119,204,.35)));
    background: linear-gradient(100grad,rgba(0,119,204,0),rgba(0,119,204,.05) 40%,rgba(0,119,204,.35));
}

.stripes :nth-child(3) {
	grid-row: 4;
    grid-column: span 5;
    background: -webkit-gradient(linear,left top,right top,color-stop(50%,#fff),to(hsla(0,0%,100%,0)));
    background: linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0));
    }

.stripes :nth-child(4) {
	grid-area: 4/span 5/auto/-1;
    background: -webkit-gradient(linear,left top,right top,color-stop(10%,rgba(0,119,204,0)),to(rgba(0,119,204,.05)));
    background: linear-gradient(100grad,rgba(0,119,204,0) 10%,rgba(0,119,204,.05));
}

.stripes :nth-child(5) {
    grid-area: auto/1/-1/-1;
    background: -webkit-gradient(linear,left top,right top,color-stop(80%,#fff),to(#f5fafd));
    background: linear-gradient(100grad,#fff 80%,#f5fafd);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 7rem;
}

header h1 {
	background: url(/assets/images/kb-logo-white.svg);
	background-size: 201px 52px;
	background-repeat: no-repeat;
	text-indent: -999rem;
	width: 200px;
	height: 52px;
	margin: 0;
}

nav {
	width: 40vw;
	font-family: "ltc-bodoni-175", "Times New Roman", serif;
	font-style: italic;
	font-weight: 100;
}

nav ul {
	display: flex;
	list-style: none;
	height: 7rem;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	padding: 0;
}

nav ul li {
	position: relative;
	height: 7rem;
	width: 7rem;
}

nav ul li a {
    height: 7rem;
    line-height: 13rem;
    text-align: right;
    display: block;
    text-decoration: none;
    color: #000000;
}

nav ul li a:after {
	display: block;
	position: absolute;
	content: "";
	bottom: -.1rem;
    right: -1.4rem;
	height: 0;
	width: 0;
	border-top: .5rem solid $highlightColor;
	border-left: .5rem solid $highlightColor;
	border-right: .5rem solid transparent;
	border-bottom: .5rem solid transparent;
}

nav ul li a:before {
	display: block;
	position: absolute;
	content: "";
	height: 7rem;
	bottom: 0;
	right: -4rem;
	border-right: 1px solid #000000;
	transform: skewX(-45deg);
}

nav ul li a:hover {
	color: $highlightColor;
}

nav ul li a:hover:before {
	border-color: $highlightColor;
}

main {
	position: relative;
}

#intro {
	margin-top: 8rem;
	height: 24rem;
	display: grid;
	grid-template-areas:
		"headline intro"
		" . resume";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(auto, 12rem) minmax(3rem, auto)
}

#intro h1 {
	grid-area: headline;
	font-size: 3rem;
	line-height: 1em;
	margin: 0;
	padding: 1rem;
	background: #ffffff;
}

#intro h1 span {
	display: block;
}

#intro .introContent {
	grid-area: intro;
}

#intro #resume {
	grid-area: resume;
	height: 3rem;
	justify-self: end;
    width: calc(100% - 2.7rem);
    margin-right: 2.7rem;
    line-height: 3rem;
    font-family: "ltc-bodoni-175", "Times New Roman", serif;
    font-style: italic;
    position: relative;
    text-align: right;
    color: #ffffff;
    box-sizing: border-box;
    padding-right: 4rem;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

#intro #resume:before {
	display: block;
	position: absolute;
	content: "";
	top: 0;
    left: 0;
    height: 100%;
    width: 3rem;
    transform-origin: 0 0;
    transform: skewX(-45deg);
    background: $highlightColor;

	// height: 0;
	// width: 0;
	// border-top: 1.5rem solid $highlightColor;
	// border-left: 1.5rem solid $highlightColor;
	// border-right: 1.5rem solid transparent;
	// border-bottom: 1.5rem solid transparent;
    transition: .2s all ease-in;
    z-index: -1;
}

#intro #resume:after {
	content: "";
	z-index: -2;
	display: block;
	width: inherit;
	position: absolute;
	height: 3rem;
	width: calc(100% - 3.2rem);
	left: 0;
	top: 0;
	background: #000000;
    transform-origin: 0 100%;
	transform: skewX(-45deg);
	border: 1px solid #ffffff;
	border-width: 0 1px 1px 0;
}

#intro #resume:hover:before {
    width: 100%;
    background: $highlightColor;
}

#examples {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 3rem;
    grid-gap: 1rem;
    background: #ffffff;
    box-sizing: border-box;
    border: 1rem solid #ffffff;
}

#examples:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -435px;
    right: -1200px;
    // background: #000000;
    border: 1px solid #000000;
    transform: skewX(135deg);
    height: 2000px;
    width: 2000px;
}

#examples h2 {
    margin: 0;
    font-family: "ltc-bodoni-175", "Times New Roman", serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 100;
    height: 2rem;
    margin-bottom: 3rem;
    position: relative;
    grid-column: span 5 / 13;
}

#examples h2:after {
    content: "";
    display: block;
    width: 10vw;
    position: absolute;
    left: 0;
    bottom: -1rem;
    border-bottom: 2px solid $highlightColor;
}

.portfolioItem {
    grid-row: 2 / span 3;
    grid-column: span 3;

    display: grid;
    grid-template-rows: 8rem 3rem;
}

.portfolioItem h3 {
    font-size: 1rem;
    grid-row: 2;
}

#caseStudies {
	position: relative;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: 3rem;
	grid-gap: 1rem;
}

#caseStudies:before {
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -435px;
    right: -1200px;
    background: #000000;
    transform: skewX(135deg);
    height: 2000px;
    width: 2000px;
}

#caseStudies h2 {
	margin: 0;
	font-family: "ltc-bodoni-175", "Times New Roman", serif;
	font-style: italic;
	font-size: 2rem;
	font-weight: 100;
	height: 2rem;
	margin-bottom: 3rem;
	position: relative;
	text-align: center;
}

#caseStudies h2:after {
	content: "";
	display: block;
	width: 10vw;
	position: absolute;
	left: 0;
	bottom: -1rem;
	border-bottom: 2px solid $highlightColor;
}

#discovery {
	grid-column: 1 / span 4;
}

#discovery .shape {
    width: 270px;
    height: 370px;
    float: right;
    shape-outside: polygon(100% 40%, 100% 100%, 20% 100%);
}

#iteration {
	grid-column: 9 / span 4;
	grid-row: 4;
	color: #ffffff;
}

#another {
	grid-column: 4 / span 4;
	grid-row: 11;
	color: #ffffff;
}

#another:before {
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 400px;
    right: -279px;
    background: $highlightColor;
    transform: rotate(-45deg);
    height: 2000px;
    width: 1000px;
}

#caseStudies #another h2:after {
	border-color: #000000;
}