#overlay {
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 99;
    display: grid;
    grid-template-areas:
        ". close ."
        "prev contents next"
        ". contents .";
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 3rem auto 3rem;
}

#overlayContents {
    grid-area: contents;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay figure {
    margin: 0;

    figcaption {
        color: #ffffff;
    }

    img {
        max-height: 90vh;
        max-width: 90vw;
    }
}

#overlay #closeModal {
    position: relative;
    grid-area: close;
    justify-self: right;

    border: none;
    background: #ffffff;
    font-family: din-2014, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: inherit;
    font-weight: 700;
    color: $highlightColor;
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    padding: 0;

    span {
        margin-left: -6rem;
    }

    &:before {
        content: "\00D7";
        display: block;
        height: inherit;
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        color: inherit;
        text-indent: 0;
        font-size: 2rem;
        line-height: 1em;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -2rem;
        border-top: 1rem solid transparent;
        border-right: 1rem solid #ffffff;
        border-bottom: 1rem solid #ffffff;
        border-left: 1rem solid transparent;
    }

    &:hover {
        background: $highlightColor;
        color: #ffffff;

        &:before {
            color: inherit;
        }

        &:after {
            border-right-color: $highlightColor;
            border-bottom-color: $highlightColor;
        }
    }
}

#enlarge {
    display: none;
    position: absolute;
    top: -1rem;
    right: 1rem;

    border: none;
    background: #000000;
    font-family: inherit;
    font-size: inherit;
    color: $highlightColor;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    text-indent: -999rem;
    box-sizing: border-box;
    padding: 0;

    &:before {
        content: "\002B";
        display: block;
        height: inherit;
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
        text-indent: 0;
        font-size: 2rem;
        line-height: 1em;
    }

    &:hover {
        background: $highlightColor;
    }
}

@media only screen and (min-width: 600px){
    #enlarge {
        display: block;
        right: -1rem;
    }
}