{% include header.html %}

<main>
	{% for section in page.sections %}
	<section id="{{ section.name }}">
		<h2>{{ section.title }}</h2>
		<div class="sectionContent">
		{{ section.content }}	
		</div>
	</section>
	{% endfor %}
	{{ content }}
	
	<!-- Portfolio -->
	<section id="portfolio">
		<h2>My Work</h2>
		<nav class="sectionContent">
			<ul>
				{% for page in site.posts %}
				<li class="portfolioLink">
					<a href="{{ page.url }}" title="{{ page.title }}">{% for image in page.images limit:1 %}<img src="{% if page.thumb %}{{ page.thumb }}{% else %}{{ image.url }}{% endif %}" alt="{{ post.title }}" /></a>{% endfor %}
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	
</main>

{% include footer.html %}