{% include header.html %}
<main id="main">
	<section id="intro">
		<h1>
			<span>The beginning</span>
			<span>of design is</span>
			<span>understanding.</span>
		</h1>
		<div class="introContent">
			{{ content }}
		</div>
		<a href="mailto:kylebatson@hey.com" id="featuredLink"><span>Contact Me</span></a>
	</section>
	{% comment %} <section id="caseStudies">
		<div id="discovery">
			<h2>Empathy</h2>
			<div class="exampleContent">
				<span class="shape"></span>
				<p>No matter how aesthetically pleasing a design, if it was not born out of a deep understanding of the problem to be solved, and the audience for which it is targeted, the design will never be as good as it could have been. I have always had a good ability to put myself into the shoes of others and to see things from their perspective. That helps greatly in tailoring my designs for the needs of my clients and users.</p>
			</div>
		</div>
		<div id="iteration">
			<h2>Iteration</h2>
			<div class="exampleContent">
				<p>No matter how aesthetically pleasing a design, if it was not born out of a deep understanding of the problbem to be solved, and the audience for which it is targeted, the design will never be as good as it could have been. I have always had a good ability to put myself into the shoes of others and to see things from their perspective. That helps greatly in tailoring my designs for the needs of my clients and users.</p>
			</div>
		</div>
		<div id="another">
			<h2>Another One</h2>
			<div class="exampleContent">
				<p>No matter how aesthetically pleasing a design, if it was not born out of a deep understanding of the problbem to be solved, and the audience for which it is targeted, the design will never be as good as it could have been. I have always had a good ability to put myself into the shoes of others and to see things from their perspective. That helps greatly in tailoring my designs for the needs of my clients and users.</p>
			</div>
		</div>
	</section> {% endcomment %}
</main>

{% include footer.html %}