{% include header.html %}
<main>
	<section id="intro">
		<h1>
			<span>Creativity. </span>
			<span>Understanding. </span>
			<span>Collaboration. </span>
		</h1>
		<div class="introContent">
			<p>I have been designing far before I knew it was an actual career. Whether it was aircraft or starships sketched on the playground or my first websites to display them to the world, it was inevitable that this would become my profession.</p>
		</div>
		<a href="#" id="resume">Download Resume</a>
	</section>
	<section id="examples">
		<h2>Examples</h2>
		{% for page in site.posts %}
		<a class="portfolioItem" href="{{ page.url }}" title="{{ page.title }}">
			<h3>{{ page.title }}</h3>
			{% for image in page.images limit:1 %}<figure>
				<img src="{% if page.thumb %}{{ page.thumb }}{% else %}{{ image.url }}{% endif %}" alt="{{ post.title }}" />
			</figure>{% endfor %}
		</a>
		{% endfor %}
	</section>
	<!-- <section id="caseStudies">
		<div id="discovery">
			<h2>Discovery</h2>
			<div class="exampleContent">
				<span class="shape"></span>
				<p>No matter how aesthetically pleasing a design, if it was not born out of a deep understanding of the problbem to be solved, and the audience for which it is targeted, the design will never be as good as it could have been. I have always had a good ability to put myself into the shoes of others and to see things from their perspective. That helps greatly in tailoring my designs for the needs of my clients and users.</p>
			</div>
		</div>
		<div id="iteration">
			<h2>Iteration</h2>
			<div class="exampleContent">
				<p>No matter how aesthetically pleasing a design, if it was not born out of a deep understanding of the problbem to be solved, and the audience for which it is targeted, the design will never be as good as it could have been. I have always had a good ability to put myself into the shoes of others and to see things from their perspective. That helps greatly in tailoring my designs for the needs of my clients and users.</p>
			</div>
		</div>
		<div id="another">
			<h2>Another One</h2>
			<div class="exampleContent">
				<p>No matter how aesthetically pleasing a design, if it was not born out of a deep understanding of the problbem to be solved, and the audience for which it is targeted, the design will never be as good as it could have been. I have always had a good ability to put myself into the shoes of others and to see things from their perspective. That helps greatly in tailoring my designs for the needs of my clients and users.</p>
			</div>
		</div>
	</section> -->
</main>

{% include footer.html %}