{% include header.html %}
<main id="main" class="portfolio">
    <h1>{{ page.title }}</h1>
    <article>
	    {{ content }}
    </article>
    <div id="skills">
    	<h2>Skills Utilized</h2>
	    <ul>
	    	{% for skill in page.skills %}
			<li>{{ skill }}</li>
			{% endfor %}
	    </ul>
	</div>
    <div class="slideshow">
		<div class="slideshowWrapper">
			<div class="slideshowContent">
				{% for image in page.images %}
				<figure class="slide">
					<img src="{{ image.url }}" alt="{{ image.caption }}" />
					<figcaption>{{ image.caption }}</figcaption>
				</figure>
				{% endfor %}
			</div>
		</div>
		<nav class="slideshowDirection" aria-labeledby="slideshowNavTitle">
			<a href="#" class="previousSlide" title="Previous Slide">
				<span>Previous Slide</span>
			</a>
			<a href="#" class="nextSlide" title="Next Slide">
				<span>Next Slide</span>
			</a>
		</nav>
		<nav class="slideshowControls" aria-labeledby="slideshowNavTitle">
			<h4 class="at-only" id="slideshowNavTitle">Slideshow Navigation</h4>
		</nav>
		<button id="enlarge" title="Opens slideshow in a modal window">Enlarge</button>
	</div>
</main>
{% include footer.html %}