{% include header.html %}
<main id="main" class="work">
	<article>
		<h1>{{ page.title }}</h1>
		{{ content }}
	</article>
	<div id="examples">
		{% for page in site.posts %}
		<a class="portfolioItem" href="{{ page.url }}" title="{{ page.title }}">
			<h3>{{ page.title }}</h3>
			{% for image in page.images limit:1 %}<figure>
				<img src="{% if page.thumb %}{{ page.thumb }}{% else %}{{ image.url }}{% endif %}" alt="{{ post.title }}" />
			</figure>{% endfor %}
		</a>
		{% endfor %}
	</div>
</main>
{% include footer.html %}